<b>Paste your long URL here:</b>
<%= form_for(@shorter, remote: true) do |f| %>
    <% if @shorter.errors.any? %>
        <% @shorter.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    <% end %>

    <div class="input-group">
      <%= f.url_field :long_url, class:'form-control', placeholder: 'http://long url.com', required: true  %>
      <div class="input-group-btn">
        <%= f.submit "Chomp URL", class: 'btn btn-info' %>
      </div>
    </div>
    <span>All cut.ng URLs and click analytics are public and can be accessed by anyone.</span>
<% end %>




