<script>
$(function () {
  new Highcharts.Chart({
    chart: { renderTo: 'orders_chart' },
    title: { text: 'Click Count' },
    xAxis: { type: 'datetime' },
    yAxis: {
      title: { text: 'clicks'}
    },
    series: [{
      pointInterval: <%= 1.day * 1000 %>,
      data: [<%= @shorter.clicks  %>]
    }]
  });
});
</script>

<div class="well text-center" id="flash" data-toggle="tooltip" data-placement="bottom" title="Copy your URL"><b><%=link_to "#{domain_request+'/' + @shorter.short_url}", 'http://' + domain_request+'/' + @shorter.short_url, :target => "_blank"  %></b></div>
<div id="orders_chart" style="height: 200px;"></div>

<% unless @shorter.clicks == 0 %>
   <%= render partial: "statistic" %>
<% else %>
  <h3 class="well" align="center">No click Recoded yet</h3>
<% end %>


