<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-7">
    <div class="form-set">
      <%= render 'form' %>
    </div>

    <div class="clearfix"></div>
    <% if current_user %>
        <table class="table">
          <thead>
          <tr>
            <td>Long url</td>
            <td>Short url</td>
            <td>Clicks</td>
            <td>created at</td>
            <td>Action</td>
          </tr>
          </thead>
          <tbody id="url-append">
            <%= render @shorter %>
          </tbody>
        </table>
    <% else %>
        <div class="alert alert-info" role="alert">Sign up or Sign in to keep your history and statistic of your URL</div>
    <% end %>
  </div>
  <div class="col-md-5" id="details">

    <i class="fa fa-cog fa-spin ajax-spiners"></i>
  </div>
</div>






